<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.AdminMapper">


    <select id="queryAll" resultType="com.djun.tyt.model.Admin">
        SELECT * FROM admin
    </select>

    <insert id="addSubmit">
        INSERT INTO admin(name, pwd, roleid) VALUES (#{name},#{pwd},#{roleid})
    </insert>

    <delete id="delete">
        delete from admin where id=#{id}
    </delete>

    <update id="update">
        update admin set name=#{name},pwd=#{pwd},roleid=#{roleid} where id = #{id}
    </update>
</mapper>