<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarket.demo.mapper.ProductMapper">

    <select id="queryAll" resultType="com.smarket.demo.model.Vo.ProductVo">
        SELECT
            p.name as goodsName, p.userid as userId,is_hot as isHot, is_new as isNew, newdegree as newDegree,
            price, typeid as typeId, createtime as createTime, p.img, description, p.`status`,
            pt.name as typeName, pt.number as goodsCount
        FROM product p
        join ptype pt on p.typeid = pt.id;
    </select>

    <insert id="addSubmit">
        INSERT INTO product(userid,name,description,newdegree,img,price,createtime,typeid)
        VALUES (#{userId},#{goodsName},#{description},#{newDegree},#{img},#{price},#{createTime},#{typeId})
    </insert>

    <update id="addSubmit2">
        update ptype set `number` = (#{goodsCount}) where id = #{typeId}
    </update>

    <update id="update">
        update product set
        name=#{goodsName},newdegree=#{newDegree},price=#{price},img=#{img},description=#{description},typeid =#{typeId}
        where id = #{id}
    </update>

    <update id="update2">
        update ptype set number=#{goodsCount} where id = #{id}
    </update>

</mapper>