<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarket.demo.mapper.RecordMapper">

    <select id="queryAll" resultType="com.smarket.demo.model.Vo.RecordVo">
      SELECT
        r.id as recordId,cremark as customerRemark,r.sremark as sellerRemark,r.stime as startTime,r.rtime as endTime,r.finalprice as finalPrice,r.goodsid as goodsId,r.createtime as createTime,
        p.name as goodsName,p.img as goodsImg,p.description,p.userid as sellerId,
        pt.name as typeName,pt.number as goodsCount,
        u.id as userId,u.hnumber as historyNumber,u.name as username,u.address,u.zcode as zCode
      FROM record r
      join product p on p.id = r.goodsid
      join ptype pt on pt.id = p.typeid
      join user u on u.id = r.goodsid
    </select>

    <insert id="addSubmit">
        INSERT INTO
          record(customerid,sellerid,goodsid,createtime,stime,rtime,finalprice,cremark,sremark)
         VALUES
         (#{userId},#{sellerId},#{goodsId},#{createTime},#{startTime},#{endTime},#{finalPrice},#{customerRemark},#{sellerRemark})
    </insert>

    <update id="addSubmit2">
        update user set hnumber=#{historyNumber} where id = #{userId}
    </update>

</mapper>