<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarket.demo.mapper.UserMapper">


    <select id="queryAll" resultType="com.smarket.demo.model.Vo.UserVo">
        SELECT
          u.id as userId, u.name as username, u.img as userImg, mobile, hnumber as historyNumber, pwd, address, zcode,
          w.img as wImg, w.name as wName, account
         FROM `user` u
        join wlogin w on u.wloginid = w.id
    </select>

    <insert id="addSubmit">
        insert into `user`(name, img, mobile, hnumber, pwd, address, zcode)
        values (#{username},#{userImg},#{mobile},#{historyNumber},#{pwd},#{address},#{zcode})
    </insert>

</mapper>