<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.LoginMapper">

    <select id="confirmByUsername" resultType="com.djun.tyt.model.TUser">
        select * from t_user where uname = #{uname} and upassword = #{upassword}
    </select>

    <select id="confirmByMobile" resultType="com.djun.tyt.model.TUser">
        select * from t_user where phone = #{phone} and upassword = #{upassword}
    </select>

    <update id="addSubmit">
        INSERT INTO
          u_login(uid, logintime, loginplace, loginip, logintoken)
        VALUES
          (#{uid},#{logintime},#{loginplace},#{loginip},#{logintoken})
    </update>

    <update id="update">
        update u_login set
         last_loginip = #{last_loginip}, last_logintime = #{last_logintime},
         last_loginplace = #{last_loginplace}, last_logintoken = #{last_logintoken}
         where id = #{id}
    </update>
</mapper>