<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.RecommendUserMapper">
    <select id="recommendFollow" resultType="com.djun.tyt.model.Vo.RecommendUserVo">
      SELECT
        u.id as userId,u_name, nickname, signature, head_img, u_level, open_degree,fans_num, honor_degree, u.status
      FROM t_user u
      order by (fans_num) desc
    </select>

</mapper>