<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.UploadMapper">
    <insert id="UploadImg" >
        insert into u_info_img (
          <include refid="DynamicConstantSQL.dynamicImg1"/>
          id
        ) values (
          <include refid="DynamicConstantSQL.dynamicImage"/>
          #{infoImgId}
        )
    </insert>
</mapper>

