<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.UserAccountMapper">

    <select id="queryAll" resultType="com.djun.tyt.model.TUser">

    </select>

    <insert id="addSubmit">

    </insert>

    <update id="update">

    </update>

</mapper>