<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.UserRecommendMapper">
    <!-- 定义查询关联动态的信息,将整个查询结果映射到UserRecommendVo中 -->
    <!--<resultMap id="userRecommendInfo" type="com.djun.tyt.model.Vo.UserRecommendVo">-->
        <!--association:完成子对象的自动映射，需要开启autoMapping-->
        <!--property:子对象在父对象中的属性名-->
        <!--javaType:子对象的java类型-->
        <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
        <!--<association javaType="com.djun.tyt.model.UserInfo" property="userInfo" autoMapping="true"/>-->
        <!-- 传多个参数{prop1=col1,prop2=col2} -->
        <!--<association column="id" javaType="com.djun.tyt.model.DynamicInfo" property="dynamicInfo" autoMapping="true"-->
                     <!--select="com.djun.tyt.mapper.UserRecommendMapper.getDynamicInfo"/>-->
    <!--</resultMap>-->

    <select id="recommendFollow" resultMap="userRecommendInfo">
        SELECT
          <include refid="ConstantSQL.userInfo"/>
          <include refid="ConstantSQL.userOpenDegree"/>
          <include refid="ConstantSQL.userType"/>
        u.id as userId
        FROM t_user u
          join u_open_degree uod on u.oid = uod.id
          LEFT JOIN u_type ut on u.tid = ut.id
        where uod.id > 2 and  u.status > 0
        order by (u.fans_num) desc
    </select>

</mapper>