<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djun.tyt.mapper.UserInfoMapper">
    <select id="queryById" resultType="com.djun.tyt.model.UserInfo">
        select
        <include refid="ConstantSQL.userInfo"/>
         u.id as userId
        from t_user u
        LEFT JOIN
        where id=#{id}
    </select>
    <update id="update">

    </update>
</mapper>